$left-column: 69%;
$right-column: 30%;

#character-details-flexblox {
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px 20px;

	#character-header-flexbox {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;

		#character-infos-flexbox {
			height: 100%;
			width: $left-column;
			flex-direction: column;
			align-items: flex-start;
			
			* {
				margin: 10px;
			}
			#previous-page-button {
				background-color: darkblue;
				box-shadow: 2px 2px 5px black;
				&:hover {
					background-color: #2885f6;
				}
			}
			#character-description {
				margin-bottom: 20px;
			}
		}
		#character-image {
			height: auto;
			margin-bottom: 20px;
			width: $right-column;
			align-self: center;
		}
	}

	#character-more-flexbox {
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		
		#character-whatever {
			width: $left-column;
			border: solid 2px black;
		}
		#character-latest-comics {
			width: $right-column;
			border: solid 2px black;
			#character-latest-comics-title {
				margin: 5px 10px;
			}
		}
	}
}